{% extends "account/base.html" %}
{% load static %}

{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
{% csrf_token %}
    <div class="d-flex justify-content-center mb-4">
        <img src="{% static 'svg/logo-full.svg' %}" alt="" style="width: 70px;" class="me-3 visible-logo"><span class="align-self-center display-5"> Sign Up</span>
    </div>
    <fieldset>
        {% if form.errors %}
          {% for field in form %}
              {% for error in field.errors %}
                  <div class="alert alert-danger d-flex justify-content-between align-items-center" role="alert">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-circle-question me-4 h4 text-white"></i>
                        <p>{{ error|escape }}</p>
                    </div>
                </div>
              {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="alert alert-danger d-flex justify-content-between align-items-center" role="alert">
                <div class="d-flex align-items-center">
                    <i class="fas fa-circle-question me-4 h4 text-white"></i>
                    <p>{{ error|escape }}</p>
                </div>
            </div>
          {% endfor %}
      {% endif %}
        <div class="group">
            {{form.email}}<span class="highlight"></span><span class="bar"></span>
            <label>Email</label>
        </div>
        <div class="group">
            {{form.password1}}<span class="highlight"></span><span class="bar"></span>
            <label>Password</label>
            <div id="popover-password">
                <p>Password Strength: <span id="result"> </span></p>
                <div class="progress">
                    <div id="password-strength" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    </div>
                </div>
                <ul class="list-unstyled">
                    <li class=""><span class="low-upper-case"><i class="fas fa-circle-question" aria-hidden="true"></i></span>&nbsp; 1 lowercase &amp; 1 uppercase</li>
                    <li class=""><span class="one-number"><i class="fa fa-circle-question" aria-hidden="true"></i></span> &nbsp;1 number (0-9)</li>
                    <li class=""><span class="one-special-char"><i class="fa fa-circle-question" aria-hidden="true"></i></span> &nbsp;1 Special Character (!@#$%^&*).</li>
                    <li class=""><span class="eight-character"><i class="fa fa-circle-question" aria-hidden="true"></i></span>&nbsp; Atleast 8 Character</li>
                </ul>
            </div>
        </div>
        <div class="group">
            {{form.password2}}<span class="highlight"></span><span class="bar"></span>
            <label>Confirm password</label>
            <span id="popover-cpassword" class="hide pull-right block-help"><i class="fa fa-info-circle text-danger" aria-hidden="true"></i> Password don't match</span>
        </div>
        <div class="d-flex justify-content-between mb-4" style="margin-top: -35px;">
            <div class="form-check text-muted">
                <input class="form-check-input" type="checkbox" value="" id="checkbox" onclick="checkTerm()">
                <span style="font-size: 12px;" > I agree to the <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#termModal"> Terms Of Service</a> and <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#police"> Privacy Police</a></span>
            </div>
            <a href="#" class="text-decoration-none">Forgot password ?</a>
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <!-- Button -->
        <div class="d-grid gap-2">
            <input id="sign-up" class="btn btn-primary" disabled type="submit" value="{% trans "Sign Up" %}"/>
        </div>
        <p class="mt-2 mb-4 text-muted">already have an account ? <a href="{{ login_url }}" class="text-decoration-none h6 ms-3">Sign in</a></p>
        <hr class="my-4 mx-3 py-1">
        <div class="d-grid gap-2">
            <a id="google" href="{% provider_login_url 'google' %}" class="btn btn-danger text-center" type="submit"><i class="fa-brands fa-google me-3"></i> Sign up with Google</a>
        </div>
    </fieldset>
</form>

{% endblock %}
