{% extends 'teacher/base.html' %}
{% load static %}
{% block head %}
{% endblock head %}
{% block css %}
<style>
.images{
    position: relative;
}
.images > img {
    width: 80%;
}
.bottom-left {
  position: absolute;
  bottom: 10%;
  left:15%;
}
.text {
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-mobile {
    height: 250px;
    object-fit: cover;
}
@media (max-width: 576px) {
    .img-mobile {
        height: 120px;
    }
}
</style>
{% endblock css %}
{% block content %}
<div class="content">
    <div class="ms-1 row text-center">
        <a id="btnkelas" class="col-3 btn text-decoration-none fw-bold btn-primary rounded-0 py-2">Kelas</a>
        <a id="btnlangganan" class="col-3 btn text-decoration-none fw-bold btn-outline-primary  rounded-0 py-2 ">Kelas Tambahan</a>
    </div>
    <div class="mt-4" id="kls">
        <div class="px-2 py-3 rounded-3 row">
        {% for k in kelas %}
        <div class="col-lg-3 col-md-4 col-6">
            <div class="card w-100">
                <img src="/media/{{k.photo}}" class="card-img-top img-mobile w-100" alt="...">
                <div class="card-body d-flex flex-column  fw-semibold">
                    <h5 class="card-title">{{k.kelas}} <span class="h6"><i class="far fa-star ms-3 me-1"></i>{% if k.ratting == None %}0.0{%else%}{{ k.ratting}}{% endif %}</span></h5>
                    {% if k.premium %}<div class="text-primary">Permium</div>{% else %} <div class="text-muted">Gratis</div> {% endif %}
                    <div class="card-text text-secondary">
                        <i class="far fa-user me-1"></i>{{k.subscribe}}
                        <i class="fas fa-book me-1 ms-2 "></i>{{k.pelajaran}}
                        <i class="fas fa-check ms-2 me-1"></i>{{k.finish}}
                    </div>
                </div>
                <a href="{% url 'teacher:kelas_detail' id=k.id %}" class="card-footer btn btn-primary bg-primary text-white fw-bold">
                    EXPLORE
                </a>
              </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    const kelas = document.getElementsByClassName("kelas");
    const link  = document.getElementsByClassName("link")
    const info  = document.getElementsByClassName("info")
    const klsbtn= document.getElementById("btnkelas")
    const langgananbtn= document.getElementById("btnlangganan")
    const kls= document.getElementById("kls")
    const langganan= document.getElementById("langganan")

    for(let i=0;i<kelas.length;i++){
        kelas[i].addEventListener("mouseenter", function(){
            link[i].classList.toggle("d-none")
            info[i].classList.toggle("d-none")
        })
        kelas[i].addEventListener("mouseleave", function(){
            link[i].classList.toggle("d-none")
            info[i].classList.toggle("d-none")
        })
    }
    klsbtn.addEventListener("click", function(){
        this.classList.remove("btn-outline-primary")
        this.classList.add("btn-primary")
        langgananbtn.classList.add("btn-outline-primary")
        langgananbtn.classList.remove("btn-primary")
        langganan.classList.toggle("d-none")
        kls.classList.toggle("d-none")
    })
    
    langgananbtn.addEventListener("click", function(){
        this.classList.remove("btn-outline-primary")
        this.classList.add("btn-primary")
        klsbtn.classList.add("btn-outline-primary")
        klsbtn.classList.remove("btn-primary")
        kls.classList.toggle("d-none")
        langganan.classList.toggle("d-none")
    })
</script>
{% endblock script %}