{% extends 'member/base.html' %}
{% load static %}
{% block head %}
{% endblock head %}
{% block css %}
<style>
.images{
    position: relative;
}
.images > img {
    width: 80%;
}
.bottom-left {
  position: absolute;
  bottom: 10%;
  left:15%;
}
.text {
    white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
}

</style>
{% endblock css %}
{% block content %}
<div class="content">
    <div class="ms-1 row text-center bg-white" style="width: 100%;">
        <a href="{% url 'user:kelas' %}" class="col-4 btn text-decoration-none fw-bold btn-primary rounded-0 py-2">Kelas</a>
        <a href="{% url 'user:langganankelas' %}" class="col-4 btn text-decoration-none fw-bold btn-light rounded-0 py-2 ">Langganan</a>
        <a href="{% url 'user:carikelas' %}" class="col-4 btn text-decoration-none fw-bold btn-light rounded-0 py-2"><i class="fa-solid fa-magnifying-glass me-2"></i>Cari kelas</a>
    </div>
    <div class="row mt-4 mx-2">
    {% for k in kelas %}
        <div class="col-4 col-md-3 mb-2">
            <div class="rounded text-muted text-center shadow-hover">
                <img src="http://{{ request.get_host }}/media/{{k.photo}}" style="width: 300px; height: 200px; object-fit: cover;" class="rounded-5 m-3" alt="">
                <div class="text-start px-3 py-2" style="width: 100%;">
                    <div class="fw-bold h5 mt-2 text-uppercase">{{k.kelas}}</div>
                    <div class="fw-semibold " style="font-size: small;">{{k.bab}} topik, {{k.pelajaran}} pelajaran</div>
                    
                    <p class="text-muted me-4 mt-3" style="font-size: 12px;">
                        <i class="fas fa-eye ms-1 me-1"></i>{{k.see}}
                        <i class="fas fa-user ms-2 me-1"></i>{{k.subscribe}}
                        <i class="fas fa-check ms-2 me-1"></i>{{k.finish}}
                        <i class="fas fa-message ms-2 me-1"></i>{{k.feedback}}
                    </p>
                    <p class="h6 text-muted me-4" style="font-size: small;">
                        <i class="fas fa-star text-warning me-1"></i>{% if k.ratting == None %}0.0{%else%}{{ k.ratting}}{% endif %}
                        <i class="fas fa-book me-1 ms-2 text-primary"></i>{{k.pelajaran}}
                        <span class="ms-2">{{k.kategori.name}}</span>
                    </p>
                </div>
                <div class="d-grid">
                    <a href="{% if k.history %} {% url 'user:pelajaran' slug=k.slug urutan=k.history.pelajaran.urutan %} {% else %}{% url 'user:pelajaran' slug=k.slug urutan=1 %}{% endif %} " class="btn btn-primary mx-4 my-2 rounded-5">explore</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}
{% block script %}
<script>
    var gratis = document.getElementById("gratis")
    var berjalan = document.getElementById("berjalan")
    var selesai = document.getElementById("selesai")
</script>
{% endblock script %}