{% extends 'teacher/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
{% endblock head %}
{% block css %}
<style>

.d-table-none{
    display: table-cell;
}
@media (max-width: 767.98px){
    .d-table-none {
        display: none;
    }
}
</style>
{% endblock css %}
{% block content %}
<div class="content ">
    <div class="d-flex justify-content-between my-4">
        <a href="#" class="text-decoration-none h4 align-self-center"><i class="fa-solid fa-chevron-left me-2"></i>Kembali</a>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#mdoalTambah">Tambah</button>
    </div>
    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Soal</th>
                <th class="d-table-none">benar</th>
                <th class="d-table-none">salah</th>
                <th class="d-table-none">salah</th>
                <th class="d-table-none">salah</th>
                <th>penjelasan</th>
                <th>B/S</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for s in soal %}
            <tr>
                <td>{{s.soal}}</td>
                <td class="d-table-none">{{s.answer}}</td>
                <td class="d-table-none">{{s.wrong1}}</td>
                <td class="d-table-none">{{s.wrong2}}</td>
                <td class="d-table-none">{{s.wrong3}}</td>
                <td>{{s.penjelasan}}</td>
                <td>{{s.userquestionRight}} / {{s.userquestionWrong}}</td>
                <td><a href="{% url 'teacher:soal_edit' id_soal=s.id %}" class="btn btn-primary btn-sm">Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="mdoalTambah" tabindex="-1" aria-labelledby="mdoalTambahLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="mdoalTambahLabel">Tambah</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <div class="modal-body">
                {{form}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">simpan</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    // Initialize DataTable
    $(document).ready(function() {
        $('#example').DataTable();
    });
</script>
{% endblock script %}